.chat{
    padding-top: 80px;
    margin: 0px auto;
    /* background-color: red; */
    width: 600px;
}

.chatHeader{
    display: flex;
    gap: 20px;
    align-items: center;
}

.chatMsg{
    width: 600px;
    background-color: rgb(238, 238, 238);
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    overflow-y: scroll;
}

.msgEl{
    font-size: .9em;
    max-width: 300px;
    margin: 5px 0px;
    margin-left: 10px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    width: fit-content;
    align-self: flex-start;
}

.msgYo{
    font-size: .9em;
    margin: 5px 0px;
    margin-right: 20px;
    background-color: rgb(48, 77, 170);
    color:white;
    padding: 5px 20px;
    border-radius: 10px;
    align-self: flex-end;
    max-width: 300px;
}

.userProfile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 25px;
}

.el{
    display: flex;
}

.userProfileChat{
    /* position: absolute; */
    /* margin-top: 100px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 5px;
}

.dataUser{
    width: 400px;
}

.iconSettings{
    font-size: 1.5em;
    line-height: 0;
    color: grey;
    transition: .3s;
    /* background-color: rgb(168, 91, 91); */
}
.iconSettings:hover{
    color: black;
}

.userName{
    font-weight: 600;
    line-height: 0;
}

.userStatusOn{
    background-color: rgb(191, 245, 191);
    color:rgb(36, 135, 36);
    font-weight: 600;
    width: fit-content;
    padding: 3px 10px;
    font-size: .8em;
    border-radius: 5px;
}

.userStatusOff{
    color:rgb(143, 143, 143);
    font-weight: 600;
    width: fit-content;
    padding: 3px 0px;
    font-size: .8em;
    border-radius: 5px;
}