.banner{
    width: 35vw;
    height: 35vw;
    margin-top: 100px;
    margin-left: 60px;
    opacity: 0;
    scale: .5;
    z-index: -1;
    animation: saltar 1s .5s ease-in-out forwards;
}

@keyframes saltar{
    70%{
        scale:1.05;
    }
    100%{
        scale:1;
        opacity:1;
    }
}


.subtitle{
    opacity: 0;
    animation: aparecer 1s ease-in-out forwards;
}

@keyframes aparecer{
    100%{
        opacity:1;
    }
}

.titleBannerContainer{
    /* background-color: red; */
    height: fit-content;
    margin-top: 160px;
    margin-left: 150px;
}

.select{
    border-radius: 10px;
    /* margin-top: 10px; */
    /* background-color: red; */
    width: 220px;
    margin-left: 37px;
}
.city{
    color: grey;
      font-size: 1.3em;
    /* text-align: center; */
    padding: 5px 0px;
    margin: 0;
    cursor:pointer;
    transition: .2s;
}
.city:hover{
    /* background-color: rgb(196, 164, 226); */
    color:rgb(108, 23, 148)
}

.titleBanner{
    font-size: 3.7em;
    color: rgb(0, 0, 0);
    line-height: 0;
}

.subtitleBanner{
    font-size: 1em;
    color:grey;
    width: 500px;
    height: 125px;
    /* background-color: red; */
    line-height: 30px;
}

.input{
    /* padding:0px 10px 0px 20px; */
    width: 170px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
      border: 0;
    padding: 0px 15px;
    font-size: 1.2em;
}

.input:focus{
    outline: 0;
}

.icon{
    color: grey;
    font-size: 1.4em;
    margin-top: 10px;
}

.iconLupa{
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 1px;
}

.view1{
    width: 100vw;
    height: 100vh;
    display: flex;
}


.buttonFind{
    height: 35px;
    width: 100px;
    background-color: rgb(220, 182, 255);
    color:rgb(108, 23, 148);
    font-size: 1.5em;
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
    transition: .3s;
    cursor:pointer;
}
.buttonFind:hover{
    color: white;
    background-color: blueviolet;
}

/* VIEW 2 */

.view2{
    width: 100vw;
    height: fit-content;
}

.why{
    width: 100vw;
    height: fit-content;
    background-color: rgb(172, 108, 232);
}
.subtitleSmall{
      text-align: center;
    padding: 30px 0px;
    color:white
}
.steps{
    /* background-color: red; */
    margin-left: 10vw;
    width: 80vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
}
.step{
    background-color: white;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.stepHeader{
    display: flex;
    align-items: center;
}

.iconStep{
    width: 50px;
    margin: 20px 30px;
}

.titleStep{
    font-size: 1.2em;
    width: 150px;
    text-align: center;
}

.iconStepCar{
    width: 60px;
    margin: 15px 30px;
}

.descriptionStep{
      font-size: 0.95em;
    color: rgb(97, 97, 97);
    width: 250px;
    margin: 0px auto;
    line-height: 23px;
    /* background-color: red; */
}

/* SUPPORT */
.support{
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 10px;
    position: fixed;
    top: 88vh;
    left: 93vw;
    background-color: rgb(220, 182, 255);
    color:rgb(108, 23, 148);
    cursor:pointer;
    transition: .2s;
}

.support:hover{
    color: white;
    background-color: blueviolet;
}

.iconSupport{
    font-size: 1.9em;
    font-weight: bold;
    margin-top: 1px;
}

/* RECOMIENDAN */

.title{
      text-align: center;
    font-size: 2.5em;
}

.reviews{
    margin-top: -20px;
    width: 100%;
    height: 120px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}

.review{
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.246);
}

.imgUser{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    padding: 20px;
}

.bannerView2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}

.titleView2{
      font-size: 2em;
}

.subtitleView2{
    color: rgb(99, 99, 99);
      font-weight: 400;
      font-size: .9em;
      width:500px;
      line-height: 25px;
}

.buttonNew{
    border: 0;
      font-size: 1.1em;
      font-weight: 600;
    padding: 8px 30px;
    border-radius: 2px;
    background-color: rgb(220, 182, 255);
    color:rgb(108, 23, 148);
    cursor:pointer;
    border-radius: 5px;
    transition: .3s;
}

.buttonNew:hover{
    color: white;
    background-color: blueviolet;
}

.benefitsContainer{
    width: 1200px;
    /* background-color: red; */
    margin: 0px auto;
    padding-bottom: 100px;
}

/* VIEW 3 */

.view3{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(169, 75, 212); */
}

.securityContainer{
    display: flex;
    justify-content: center;
    gap:20px;
    background-color: #ac6ce8;
}

.imgSecurity{
    width: 500px;
    margin-left: -100px;
}

.titleSecurity{
    margin-top: 60px;
    font-size: 1.7em;
    color: white;
    font-weight: 600;
    width: 500px;
}

.subtitleSecurity{
    width: 500px;
    font-size: .95em;
    color: white;
    font-weight: 400;
    line-height: 23px;
}

.buttonSecurity{
    border: 0;
      font-size: 1.1em;
      font-weight: 600;
    padding: 8px 30px;
    border-radius: 2px;
    background-color: rgb(220, 182, 255);
    color:rgb(108, 23, 148);
    cursor:pointer;
    border-radius: 5px;
    transition: .3s;
}

.buttonSecurity:hover{
    color: white;
    background-color: rgb(19, 19, 19);
}

/* PAYMENTS */

.paymentsContainer{
    padding: 65px 0px 125px 75px;
    display: flex;
    align-items: center;
}

.payments{
    margin-left: 50px;
}

.method{
    height: 300px;
}

.titlePay{
    font-size: 2em;
}

.subtitlePay{
    color: grey;
    font-weight: 400;
    width: 350px;
}

.iconsPay{
    /* background-color: red; */
}

.iconPay{
    width: 70px;
    margin-right: 50px;
}

.iconPay:last-child{
    width: 50px;
}