.title{
    color:rgb(137, 18, 161);
    font-family: system-ui;
    font-size: 3.5em;
    text-align: center;
    margin-top: 100px;
}

.aparecer{
    opacity:0;
    scale:.5;
    animation: aparecer .5s ease-in-out forwards;
}

.input-container{
    text-align: center;
    margin-top: 80px;
}

.no-option{
    text-align: center;
    margin-top: 50px;
    color:rgb(150, 96, 150);
    cursor:pointer;
}

.centrado{
    text-align: center;
}

.input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-size: 1.3em;
    text-align: center;
}

@keyframes aparecer{
    70%{
        scale:1.05;
    }
    100%{
        scale:1;
        opacity:1;
    }
}